.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  width: 400px;
}

.container {
  display: flex;
  justify-content: center;
}

.inner {
  margin-top: 150px;
}

.ul {
  padding: 0;
}
