.image {
  position: fixed;
  bottom: 10px;
  width: 250px;
  z-index: 1;
  cursor: pointer;
}

.bubble {
  position: fixed;
  bottom: 200px;
  right: 300px;
  min-width: 400px;
  max-width: 700px;
  min-height: 120px;
  z-index: 1;
  border: 1px solid grey;
  border-radius: 30px;
  background-color: grey;
  cursor: pointer;
}

.dialogue {
  margin: 20px;
  color: #ffffff;
}

.dialogue::after {
  content: "";
  position: absolute;
  top: 50px;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: grey;
  border-left: 0;
}
